@(board:Board,threads:List[Thread],newThreadForm:Form[NewThread])(implicit flash:play.api.mvc.Flash)

@main("Thread List") {

    <div class="jumbotron">
        <h1>@board.name</h1>
        <p>@board.message</p>
    </div>
    <ol class="breadcrumb">
        <li><a href="@routes.BoardActions.list">@board.name</a></li>
    </ol>

    <table class="table">
        <caption>スレッド一覧</caption>
        @for(thread <- threads) {
            <tr>
                <td>
                    <a href="@routes.PageActions.read(board.id,thread.id)">@thread.name</a>
                </td>
            </tr>
        }
    </table>

    <div class="panel panel-default">
        <div class="row">
            <h3 class="col-md-offset-1">スレッド作成</h3>
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <form role="form"
                          action="@routes.ThreadActions.create(board.id).url"
                          method="@routes.ThreadActions.create(board.id).method">
                        <div class="form-group col-md-5">
                            <label>スレッド名</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="form-group col-md-10">
                            <label>メッセージ</label>
                            <textarea class="form-control" rows="3" name="message"></textarea>
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-default">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}