@(threads:List[Thread],newThreadForm:Form[NewThread])(implicit flash:play.api.mvc.Flash)

@main("Thread List") {

    <div class="jumbotron">
        <h1>Welcom My BBS!</h1>
    </div>

    <table class="table">
        <caption>thread list</caption>
        @for(thread <- threads) {
            <tr>
                <td>
                    <a href="/@thread.id">@thread.name</a>
                </td>
            </tr>
        }
    </table>

    <h3>create new Thread</h3>
    @helper.form(action = routes.ThreadActions.create){
        @helper.inputText(newThreadForm("name"))
        <button type="submit">submit</button>
    }

}