@(board:Board,thread: Thread, comments: List[models.Comment], form: Form[models.NewComment])(implicit flash: play.api.mvc.Flash)

    @main("Welcome to Play") {

        <div class="jumbotron">
            <h1>@thread.name</h1>
            <p>@thread.message</p>
        </div>

        <table class="table">
            <tr>
                <th>name</th>
                <th>comment</th>
            </tr>
            @for(comment <- comments) {
                <tr>
                    <td>@comment.name</td>
                    <td>@comment.comment</td>
                </tr>
            }
        </table>


        <div class="panel panel-default">
            <div class="row">
                <h3 class="col-md-offset-1">new comment</h3>
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <form role="form"
                              action="@routes.PageActions.create(board.id,thread.id).url"
                              method="@routes.PageActions.create(board.id,thread.id).method">
                            <div class="form-group col-md-5">
                                <label>名前</label>
                                <input type="text" name="name" class="form-control" />
                            </div>
                            <div class="form-group col-md-10">
                                <label>コメント</label>
                                <textarea class="form-control" rows="3" name="comment"></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-default">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @flash.get("success").map { message =>
            <label>success</label>
            <p>@message</p>
        }

        @flash.get("errors").map { message =>
            <lebel>error message</lebel>
            <p>@message</p>
        }

    }
