@(boards:List[Board],newThreadForm:Form[NewBoard])(implicit flash:play.api.mvc.Flash)

@main("Thread List") {

    <div class="jumbotron">
        <h1>Board List</h1>

    <table class="table">
        <caption>板一覧</caption>
        @for(board <- boards) {
            <tr>
                <td>
                    <a href="/@board.id/thread">@board.name</a>
                </td>
            </tr>
        }
    </table>

    <h3>新しい板を作る</h3>
    <form class="form-inline" role="form" action="@routes.BoardActions.create.url" method="@routes.BoardActions.create.method">
        <div class="form-group">
            <label>name</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label>message</label>
            <textarea name="message" class="form-control" ></textarea>
        </div>
        <button type="submit" class="btn btn-default">作成</button>
    </form>

}