@(boards: List[Board], newThreadForm: Form[NewBoard])(implicit flash: play.api.mvc.Flash)

@main("Thread List") {

    <div class="jumbotron">
        <h1>板一覧</h1>
    </div>

    <table class="table">
        <caption>板一覧</caption>
        @for(board <- boards) {
            <tr>
                <td>
                    <a href="/@board.id/thread">@board.name</a>
                </td>
            </tr>
        }
    </table>

    <div class="panel panel-default">
        <div class="row">
            <h3 class="col-md-offset-1">新しい板を作る</h3>
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <form role="form"
                    action="@routes.BoardActions.create.url"
                    method="@routes.BoardActions.create.method">
                        <div class="form-group col-md-5">
                            <label>板の名前</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="form-group col-md-10">
                            <label>メッセージ</label>
                            <textarea class="form-control" rows="3" name="message"></textarea>
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-default">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}